@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-white text-slate-900;
  }

  ::selection {
    @apply bg-brand-200 text-brand-900;
  }
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 2px;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 6px;
}